@{
    Layout = "~/Views/Shared/Ordinary.cshtml";
    ViewData["Title"] = "角色管理";

}
@section css{
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/public.css" rel="stylesheet" />
    <link href="~/lib/ztree/bootstrapStyle/bootstrapStyle.css" rel="stylesheet" />
}
<div style="padding:20px;">
    <form class="layui-form" style="width:80%;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>基本信息</legend>
        </fieldset>
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">角色名称<i style="color:red;">*</i></label>
            <div class="layui-input-block">
                <input type="text" class="layui-input roleName" lay-verify="required" placeholder="请输入角色名称">
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">备注<i>&nbsp;</i></label>
            <div class="layui-input-block">
                <textarea placeholder="备注" class="layui-textarea note"></textarea>
            </div>
        </div>
        <input type="text" style="display:none;" class="roleId">
        <!--角色授权部分-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>角色授权</legend>
        </fieldset>
        <div class="layui-tab layui-tab-brief" lay-filter="RoleAuthTab">
            <ul class="layui-tab-title">
                <li class="layui-this">菜单权限</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <ul id="treeMenu" class="ztree"></ul>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addRole">保存</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="~/lib/ztree/js/jquery.min.js"></script>
<script src="~/lib/ztree/js/jquery.ztree.core.min.js"></script>
<script src="~/lib/ztree/js/jquery.ztree.excheck.min.js"></script>
<script src="~/lib/ztree/js/jquery.ztree.exedit.min.js"></script>
<script src="~/lib/layui/layui.js"></script>
<script src="~/js/Areas/SystemManager/Role/RoleAdd.js"></script>

