@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BackLogin</title>
    <script>
        window.onload = function () {
            if (window.parent)
                window.parent.location.href = "/User/Login";
        }
    </script>
</head>
<body>
    BackLogin
</body>
</html>
