
@{
    Layout = "~/Views/Shared/Ordinary.cshtml";
    ViewData["Title"] = "主页";
}
@section css{
    <link href="~/lib/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/public.css" rel="stylesheet" />
    <style>
        .layui-form-radio {
            margin: 5px;
        }

        .layui-input-blockradio {
            margin-left: 10px;
        }
    </style>
}
<div style="padding:20px;">
</div>
<script src="~/lib/main.js"></script>
@*<script src="~/lib/signalr/signalr.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/layui/layui.js"></script>
<script src="~/js/welcome.js"></script>
@*<script src="~/js/websocketCtl.js"></script>*@
@*<script src="~/js/signalRCtl.js"></script>*@
